* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

div {
    position: relative;
    
    background-color: aliceblue;
}

input {
    height: 25px;
}

.guess {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    padding: 30px;
}
.guessResult {
    color: white;
    padding: 3px;
}
.guessButton {
    border: none;
    color: white;
    background-color: rgb(5, 24, 24);
    outline: none;
    height: 28px;
    width: 60px;
    border-radius: 10px;
}

#inputNum {
    border: none;
    outline: none;
    height: 32px;
    border-radius: 5px;

}